<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        tools:replace="android:allowBackup"
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault" >

        <provider
            android:name=".AdProvider"
            android:authorities="${applicationId}.adprovider"
            android:exported="true" >
            <meta-data
                android:name="android.content.ContactDirectory"
                android:value="true" />
        </provider>
        <meta-data android:name="tcl_app_key" android:value="GhnR/ZY3jmkNdQ3mOh5vh3V0DJzM9O7PfLhjcKq7mItJhEE0isAZ9fhON3lS7OWCQhqS8tJRkXV6Mg5KI2o7VQ=="/>
        <meta-data android:name="partner_name" android:value="Cyhikeen"/>
<!--        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

    </application>

</manifest>