<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:remove="android:sharedUserId">

    <application>
        <activity
            android:name=".Hq008CmpDebugActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name=".Hq008FloatingDebugActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <meta-data
            android:name="tcl_app_key"
            android:value="${tcl_app_key}" />
        <meta-data
            android:name="partner_name"
            android:value="${partner_name}" />
        <meta-data
            android:name="project_id"
            android:value="${project_id}" />
    </application>

</manifest>
