<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".Hq008DebugTriggerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.smart.android.ad_app.DEBUG_REQUEST_FLOATING" />
                <action android:name="com.smart.android.ad_app.DEBUG_RESET_CMP" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
